@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
  src: url(../assets/fonts/BebasNeueRegular.ttf);
  font-family: "BebasNeue";
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 29px;
  border-radius: 4px;
  color: #fff;
  background-color: #7e9111;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 7px;
  border: none;
}
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 29px;
  border-radius: 4px;
  color: #fff;
  background-color: #2c5e7a;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 15px;
  border: none;
}
.languageSelection {
  width: 122px;
  height: 31px;
  border: solid 1px #194d64;
  background-color: #092430;
  color: #fff;
  text-transform: uppercase;
}
.languageSelectionBottom {
  display: none;
  width: 122px;
  height: 31px;
  border: solid 1px #194d64;
  background-color: #092430;
  color: #fff;
  text-transform: uppercase;
}

.headerBox {
  background-color: #0f303f;
  padding: 10px 0 12px 0;
  .headerBox__buttonBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.banner {
  background-image: url(../assets/img/bgheader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 17px 0 190px 0;
  .banner__title {
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "BebasNeue";
    margin-bottom: 10px;
  }
  .banner__subtitle {
    font-size: 45px;
    text-transform: uppercase;
    font-family: "BebasNeue";
    color: #c1d64b;
    font-weight: 400;
    margin-bottom: 35px;
  }
  .banner__text {
    max-width: 500px;
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.43;
    color: #d6dce0cc;
    margin-bottom: 43px;
  }
  .baner__button {
    width: 244px;
    height: 49px;
    background-color: #a2bb16;
    text-transform: uppercase;
    box-shadow: 0px 5px 0 0 #7e9111;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 90px;
    color: #394001;
    &:hover {
      background-color: #f4d844;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 77px;
  .navigation__logo {
    width: 210px;
    height: 68px;
    background-image: url(../assets/img/лого.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .navigation__pages {
    width: 53%;
    display: flex;
    justify-content: space-between;
    & a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        display: block;
        width: fit-content;
        height: 32px;
        background-color: #7e9111;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 18px;
        transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      }
    }
  }
}
.socialHeader {
  width: 106px;
  justify-content: space-between;
  display: none;
  .social__twit {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/twitactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__facebook {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/faceactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__vk {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/vkactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.socialNav {
  width: 106px;
  display: flex;
  justify-content: space-between;
  .social__twit {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/twitactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__facebook {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/faceactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__vk {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/vkactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.socialBottom {
  width: 106px;
  display: flex;
  justify-content: space-between;
  .social__twit {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/twitactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__facebook {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/faceactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__vk {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/vkactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.socialMobile {
  width: 106px;
  display: flex;
  justify-content: space-between;
  .social__twit {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/twitactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__facebook {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/faceactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .social__vk {
    width: 32px;
    height: 32px;
    background-image: url(../assets/img/vkactive.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.infoBox {
  padding: 0 0 91px 0;

  .infoBox__title {
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    color: #224a60;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .infoBox__subtitle {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    color: #224a60;
    margin-bottom: 49px;
  }
  .infoBox__contentBox {
    max-width: 965px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .infoBox__item {
      width: 202px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .infoBox__icon1 {
        width: 106px;
        height: 118px;
        background-image: url(../assets/img/icon1.png);
      }
      .infoBox__icon2 {
        width: 106px;
        height: 118px;
        background-image: url(../assets/img/icon2.png);
      }
      .infoBox__icon3 {
        width: 106px;
        height: 118px;
        background-image: url(../assets/img/icon3.png);
      }
      .infoBox__icon4 {
        width: 106px;
        height: 118px;
        background-image: url(../assets/img/icon4.png);
      }
      .infoBox__itemTitle {
        width: 161px;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.23;
        letter-spacing: 0.22px;
        font-family: "BebasNeue";
        color: #2c5871;
        text-align: center;
        margin: 23px 0 27px 0;
      }
      .infoBox__itemSubtitle {
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        color: #7b7b7b;
      }
    }
  }
}
.stepIcon {
  width: 65px;
  height: 20px;
  background-image: url(../assets/img/step.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 50px;
}

.offerBox {
  background-color: #2c5871;
  padding: 86px 0 22px 0;
  position: relative;
  .offerBox__dicoration {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: -55px;
    background-color: #fff;
    background-image: url(../assets/img/direction196.png);
    background-repeat: no-repeat;
    background-position: 50% 80%;
  }
  .container_offerBox {
    max-width: 1100px;
    margin: 0 auto;
  }
  .offerBox__contentBox {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .offerBox__info {
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-size: 24px;
        font-style: italic;
        line-height: 1;
        text-align: center;
        color: #cee355;
        display: block;
        margin-bottom: 15px;
        &::before {
          content: url(../assets/img/rupor.png);
          vertical-align: middle;
          display: inline-block;
          margin-right: 10px;
        }
      }
      .offerBox__title {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 31px;
      }
      .offerBox__text {
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        margin-bottom: 37px;
      }
      .offerBox__button {
        width: 244px;
        height: 49px;
        background-color: #a2bb16;
        text-transform: uppercase;
        box-shadow: 0px 5px 0 0 #7e9111;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 1000;
        text-align: center;
        color: #394001;
        margin-bottom: 100px;
        &:hover {
          background-color: #f4d844;
        }
      }
    }
    .offerBox__activeWindow {
      width: 550px;
      height: 550px;
      background-image: url(../assets/img/active.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .offerBox__icon {
        width: 65px;
        height: 74px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../assets/img/activicon.png);
        cursor: pointer;

        &:nth-child(1) {
          top: 6.5%;
          right: 44.7%;
          position: absolute;
          &:hover {
            background-image: url(../assets/img/activicongreen.png);
          }
        }
        &:nth-child(2) {
          top: 24%;
          right: 16.5%;
          position: absolute;
        }
        &:nth-child(3) {
          bottom: 33%;
          right: 16.5%;
          position: absolute;
        }
        &:nth-child(4) {
          bottom: 16%;
          right: 44.7%;
          position: absolute;
        }
        &:nth-child(5) {
          bottom: 33%;
          left: 15%;
          position: absolute;
        }
        &:nth-child(6) {
          top: 24%;
          left: 15%;
          position: absolute;
        }
      }
      .offerBox__icon_bgGreen {
        background-image: url(../assets/img/activicongreen.png);
      }
    }
  }
}
.show {
  display: none;
}
.activeContent {
  width: 50%;
  margin-top: -50px;
  .activeContent__title {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    text-align: center;
    color: #c1d64b;
    text-transform: uppercase;
  }
  .activeContent__subtitle {
    font-size: 14px;
    line-height: 2;
    text-align: center;
  }
}
.activeContent_hide {
  display: none;
}
.activeContent_show {
  display: block;
}
.footerBox {
  background-color: #0f303f;
  padding: 26px 0 34px 0;
  .footerBox__container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footerBox__logo {
      width: 139px;
      height: 44px;
      background-image: url(../assets/img/footerlogo.png);
      background-repeat: no-repeat;
    }
    .footerBox__text {
      flex-grow: 1;
      display: flex;
      padding-top: 10px;
      padding-left: 44px;
      font-size: 16px;
      color: #2c5871;
    }
  }
}
.socialBox {
  display: none;
}
#menuToggle {
  overflow: hidden;
  position: relative;
  width: 38px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle input {
  display: flex;
  width: 38px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span {
  width: 38px;
  height: 3px;
  margin-bottom: 5px;
  background: #b8b8b8;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #ffffff;
  transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
  background-color: #ffffff;
  transform: rotate(495deg) translate(4px);
}
#menuToggle input:checked ~ #span3 {
  background-color: #ffffff;
  transform: rotate(45deg);
  opacity: 0;
}
.menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 200px;
  top: 50px;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(61, 48, 48);
  & a {
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    &:hover {
      display: block;
      width: fit-content;
      height: 32px;
      background-color: #7e9111;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 18px;
    }
  }
}
.menu_active {
  display: flex;
}
@media (max-width: 1160px) {
  .container {
    max-width: 912px;
  }

  .socialNav {
    display: none;
  }
  .banner {
    .banner__title {
      font-size: 65px;
    }
    .banner__subtitle {
      font-size: 35px;
    }
    .banner__text {
      max-width: 400px;
      font-size: 20px;
    }
  }
  .offerBox {
    .container_offerBox {
      width: 100%;
    }
  }
  .navigation {
    .navigation__pages {
      width: 60%;
    }
  }
}
@media (max-width: 991px) {
  .container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socialHeader {
    display: flex;
  }
  .banner {
    padding: 17px 0 100px 0;
    .banner__title {
      font-size: 60px;
    }
    .banner__subtitle {
      font-size: 30px;
    }
    .banner__text {
      max-width: 280px;
      font-size: 19px;
    }
    .baner__button {
      margin-bottom: 50px;
    }
  }
  .socialBottom {
    display: none;
  }
  .offerBox {
    .container_offerBox {
      max-width: 610px;
      margin: 0 auto;
    }
    .offerBox__contentBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      .offerBox__info {
        width: 100%;
      }
    }
  }
  .footerBox {
    .footerBox__container {
      padding: 0 15px;
      .footerBox__text {
        flex-grow: 0;
      }
    }
  }
}
@media (max-width: 767px) {
  #menuToggle {
    display: flex;
  }
  .socialHeader {
    display: none;
  }
  .banner {
    background-image: url(../assets/img/карта.png);
    background-position: bottom;
    background-size: 100%;
    padding: 17px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .banner__title {
      text-align: center;
      font-size: 31px;
      margin-bottom: 16px;
    }
    .banner__subtitle {
      text-align: center;
      font-size: 22px;
      margin-bottom: 24px;
    }
    .banner__text {
      display: none;
    }
    .baner__button {
      margin-bottom: 36px;
    }
  }

  .navigation {
    justify-content: center;
    margin-bottom: 30px;
    .navigation__pages {
      display: none;
    }
  }
  .infoBox {
    padding: 0 0 42px 0;

    .infoBox__title {
      font-size: 26px;
      margin: 25px 0 16px 0;
    }
    .infoBox__subtitle {
      font-size: 17px;
      margin-bottom: 25px;
    }
    .infoBox__contentBox {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .infoBox__item {
        width: 238px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        .infoBox__icon1 {
          width: 77px;
          height: 84px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .infoBox__icon2 {
          width: 77px;
          height: 84px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .infoBox__icon3 {
          width: 77px;
          height: 84px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .infoBox__icon4 {
          width: 77px;
          height: 84px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .infoBox__itemTitle {
          width: 150px;
          font-size: 20px;
          margin: 23px 0 27px 17px;
        }
        .infoBox__itemSubtitle {
          display: none;
        }
      }
    }
  }
  .stepIcon {
    display: none;
  }
  .offerBox {
    background-image: url(../assets/img/mobbg.png);
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 55px 0 22px 0;
    .container_offerBox {
      max-width: 1100px;
      margin: 0 auto;
    }
    .offerBox__contentBox {
      width: 100%;
      .offerBox__info {
        width: 100%;
        span {
          font-size: 20px;
        }
        .offerBox__title {
          font-size: 28px;
          margin-bottom: 23px;
        }
        .offerBox__text {
          font-size: 15px;
          margin-bottom: 28px;
        }
        .offerBox__button {
          width: 214px;
          height: 54px;
          margin-bottom: 48px;
        }
      }
      .offerBox__activeWindow {
        width: 290px;
        height: 290px;
        background-image: url(../assets/img/mobbgelipce.png);
        margin-bottom: 30px;
        .offerBox__icon {
          width: 46px;
          height: 52px;
          &:nth-child(1) {
            top: -6%;
            right: 40.7%;
          }
          &:nth-child(2) {
            top: 18%;
            right: -2%;
          }
          &:nth-child(3) {
            bottom: 18%;
            right: -2%;
          }
          &:nth-child(4) {
            bottom: -6%;
            right: 40.7%;
          }
          &:nth-child(5) {
            bottom: 18%;
            left: -2%;
          }
          &:nth-child(6) {
            top: 18%;
            left: -2%;
          }
        }
        .offerBox__icon_bgGreen {
          background-image: url(../assets/img/activicongreen.png);
        }
      }
    }
  }
  .activeContent {
    .activeContent__title {
      font-size: 17px;
    }
    .activeContent__subtitle {
      display: none;
    }
  }
  .languageSelection {
    display: none;
  }
  .languageSelectionBottom {
    display: block;
  }
  .footerBox {
    padding-bottom: 0;
    .footerBox__container {
      flex-wrap: wrap;
      .footerBox__text {
        text-align: center;
        padding: 0;
        margin: 0;
        & span {
          display: none;
        }
      }
    }
  }
  .socialBox {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001f2c;
    padding: 14px 15px;
    font-size: 15px;
    color: #2c5871;
  }
}
@media (max-width: 407px) {
  .banner {
    background-color: #005773;
  }
}
